@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'StarJedi';
    src: url('/fonts/StarJedi.ttf');
}

@font-face {
    font-family: 'NewsCycle';
    src: url('/fonts/NewsCycle.ttf');
}
